<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neng.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.SingletonActivity" />
        <activity android:name=".activity.BuilderActivity" />
        <activity android:name=".activity.PrototypeActivity" />
        <activity android:name=".activity.FactoryActivity" />
        <activity android:name=".activity.FactoryAbsActivity" />
        <activity android:name=".activity.StrageryActivity" />
        <activity android:name=".activity.StateActivity" />
        <activity android:name=".activity.ChainResponsActivity" />
        <activity android:name=".activity.InterpreterActivity" />
        <activity android:name=".activity.CommandActivity" />
        <activity android:name=".activity.ObserverActivity"/>
        <activity android:name=".activity.MementoActivity"/>
        <activity android:name=".activity.IteratorActivity"/>
        <activity android:name=".activity.TemplateActivity"/>
        <activity android:name=".activity.VisitorActivity"/>
        <activity android:name=".activity.MediatorActivity"/>
        <activity android:name=".activity.ProxyActivity"/>
        <activity android:name=".activity.CompositeActivity"/>
        <activity android:name=".activity.AdapterActivity"/>
        <activity android:name=".activity.DecoratorActivity"/>
        <activity android:name=".activity.FlyweightActivity"/>
        <activity android:name=".activity.FacadeActivity"/>

    </application>

</manifest>